[include]
    path = ~/.gitconfig.local

[core]
    editor = vim
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current

[fetch]
    prune = true

[diff]
    colorMoved = zebra

[merge]
    conflictstyle = diff3

[rerere]
    enabled = true

[alias]
    st = status -sb
    lg = log --oneline --graph --decorate --all
    co = checkout
    br = branch
    cm = commit
    last = log -1 HEAD --stat
    unstage = reset HEAD --
    amend = commit --amend --no-edit
